.wrapper {
display: flex;
}
.sidebar {
  width: 300px;
  height: 100vh;
}
.side_hedder {
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.create-room {
  font-size: 10px;
}

.create-room a {
  border: 1px solid lightblue;
  padding: 14px;
  color: deepskyblue;
  text-decoration: none;
}
.side_room {
  height: calc(100% - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
  overflow: scroll;
}
.room {
  padding: 20px 0 40px;
}
.room-name a {
  text-decoration: none;
  color: white;
}

.main {
  width: calc(100% - 300px);
  height: 100vh;
}
.main_hedder {
  height: 100px;
  background-color: #FFFFFF;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.header-title {
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}
.header-button {
  margin-top: 40px;
}
.header-button a {
  text-decoration: none;
  border: 1px solid darkred;
  color: darkred;
  padding: 20px;  
}
.main_message {
  height: calc(100% - 190px);
  background-color: #FAFAFA;
  padding: 46px 40px 0px 40px;
  overflow: scroll;
}
.message {
  margin: 10px 0;
}

.upper-message{
  display: flex;
}

.message-user {
  color: #434a54;
  font-size: 16px;
}

.message-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}

.form {
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
  display: flex;
}
.form-input {
  width: 100%;
  background-color: white;
;
  display: flex;
}
.form-message {
  height: 50px;
  border: none;
  width: 100%;
  padding: 0 0 0 10px;
}
.form-submit {
  height: 50px;
  font-size: 16px;
  border: none;
  color: white;
  padding: 0 20px;
  margin-left: 15px;
  background-color: #38AEF0;
}
.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}